# Library

In [2]:
import pandas as pd

# Data

In [20]:
pre = pd.read_csv('data/Pre_Season_Batter.csv')
regular = pd.read_csv('data/Regular_Season_Batter.csv')
regular_day = pd.read_csv('data/Regular_Season_Batter_Day_by_Day_b4.csv')

In [21]:
pre.head(2)

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.350,7,20,1,7,1,...,1,0.55,0.409,1,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.959
1,1,강경학,2011,한화,0.000,4,2,2,0,0,...,0,0.00,0.500,0,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.500

In [22]:
regular.head(2)

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519,0.383,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0,0.000,0.000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000

In [23]:
regular_day.head(2)

,batter_id,batter_name,date,opposing_team,avg1,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,HBP,SO,GDP,avg2,year
0,0,가르시아,3.24,NC,0.333,3,1,1,0,0,0,0,0,0,1,0,1,0,0.333,2018
1,0,가르시아,3.25,NC,0.000,4,0,0,0,0,0,0,0,0,0,0,1,0,0.143,2018

# Preprocessing

## 결측값 처리

In [28]:
pre.isna().sum()

batter_id            0
batter_name          0
year                 0
team                 0
avg                  0
G                    0
AB                   0
R                    0
H                    0
2B                   0
3B                   0
HR                   0
TB                   0
RBI                  0
SB                   0
CS                   0
BB                   0
HBP                  0
SO                   0
GDP                  0
SLG                 29
OBP                 25
E                    0
height/weight        0
year_born            0
position             0
career               0
starting_salary    214
OPS                 29
dtype: int64

> 결측 목록
- SLG : 장타율
- OBP : 출루율
- starting_salary : 선수의 한국프로야구 입단 연봉
- OPS : (OBP+SLG)

=> 0으로 대체

In [12]:
pre.fillna(0,inplace = True)

In [13]:
pre.isna().sum()

batter_id          0
batter_name        0
year               0
team               0
avg                0
G                  0
AB                 0
R                  0
H                  0
2B                 0
3B                 0
HR                 0
TB                 0
RBI                0
SB                 0
CS                 0
BB                 0
HBP                0
SO                 0
GDP                0
SLG                0
OBP                0
E                  0
height/weight      0
year_born          0
position           0
career             0
starting_salary    0
OPS                0
dtype: int64

In [14]:
regular.isna().sum()

batter_id             0
batter_name           0
year                  0
team                  0
avg                  26
G                     0
AB                    0
R                     0
H                     0
2B                    0
3B                    0
HR                    0
TB                    0
RBI                   0
SB                    0
CS                    0
BB                    0
HBP                   0
SO                    0
GDP                   0
SLG                  26
OBP                  24
E                     0
height/weight       802
year_born             0
position            802
career                0
starting_salary    1067
OPS                  26
dtype: int64

In [15]:
regular_day.isna().sum()

batter_id        0
batter_name      0
date             0
opposing_team    0
avg1             0
AB               0
R                0
H                0
2B               0
3B               0
HR               0
RBI              0
SB               0
CS               0
BB               0
HBP              0
SO               0
GDP              0
avg2             0
year             0
dtype: int64